[project]
	description = source code for gsc-snist website hosted on appengine
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Srikanth Kasukurthi (srikanthk16)
[access "refs/for/refs/*"]
	read = group user/Srikanth Kasukurthi (srikanthk16)
	push = group user/Srikanth Kasukurthi (srikanthk16)
	label-Code-Review = -2..+2 group user/Srikanth Kasukurthi (srikanthk16)
	label-Verified = -1..+1 group user/Srikanth Kasukurthi (srikanthk16)
	rebase = group user/Srikanth Kasukurthi (srikanthk16)
	removeReviewer = group user/Srikanth Kasukurthi (srikanthk16)
	submit = group user/Srikanth Kasukurthi (srikanthk16)
[access "refs/heads/*"]
	read = group user/Srikanth Kasukurthi (srikanthk16)
	create = group user/Srikanth Kasukurthi (srikanthk16)
	push = +force group user/Srikanth Kasukurthi (srikanthk16)
	pushMerge = group user/Srikanth Kasukurthi (srikanthk16)
[access "refs/tags/*"]
	push = +force group user/Srikanth Kasukurthi (srikanthk16)
	pushTag = group user/Srikanth Kasukurthi (srikanthk16)
	pushSignedTag = group user/Srikanth Kasukurthi (srikanthk16)
